# Node
node_modules/

# Env
.env
.env.production
.env.local
*.env

# Logs
*.log

# Build
dist/
build/

# IDEs
.vscode/
.idea/

# Flutter
nova_app/build/

# Dashboard
nova_dashboard/build/

# Backend
qr-backend/node_modules/
nova_app.db

# Dart tool cache
nova_app/.dart_tool/
nova_dashboard/.dart_tool/